<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Budapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>budapp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	
	<!-- Location permissions for maps and weather -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BudApp potrzebuje dostępu do lokalizacji aby pokazać specjalistów w Twojej okolicy i prognozę pogody dla budowy.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>BudApp potrzebuje dostępu do lokalizacji aby pokazać specjalistów w Twojej okolicy.</string>
	
	<!-- Camera permission for room photos -->
	<key>NSCameraUsageDescription</key>
	<string>BudApp potrzebuje dostępu do kamery aby robić zdjęcia pomieszczeń do remontu.</string>
	
	<!-- Photo library permissions -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BudApp potrzebuje dostępu do galerii aby wybierać zdjęcia pomieszczeń.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>BudApp chce zapisać zdjęcia w galerii.</string>
	
	<!-- Push notifications for construction reminders -->
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	
	<!-- Internet access -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
</dict>
</plist>
